/* You can add global styles to this file, and also import other style files */
* {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    min-height: 100%;
    background: #eee;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

app-chatroom {
    display: flex;
    flex-direction: column;
}

app-navbar {
    width:100%;
}
